___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd
import numpy as np
ri = pd.read_csv("police.csv", nrows= 50000)
ri.drop(["county_name", "state", "county_fips", "fine_grained_location"], axis = 1, inplace = True)
ri.dropna(inplace = True, subset = ["driver_gender"])
ri["is_arrested"] = ri["is_arrested"].astype("bool")
ri["combined"] = ri["stop_date"] + " " + ri["stop_time"]
ri["stop_datetime"] = ri["combined"].astype("datetime64")
ri.set_index(["stop_datetime"], inplace = True)
ri.head(10)

C:\Users\calis\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05
2005-01-18 08:15:00,RI-2005-00007,2005-01-18,08:15,Zone K3,300,M,1965.0,40.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2005-01-18 08:15
2005-01-18 17:13:00,RI-2005-00008,2005-01-18,17:13,Zone X1,0,M,1967.0,38.0,H,Hispanic,...,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone X1,2005-01-18 17:13
2005-01-23 23:15:00,RI-2005-00009,2005-01-23,23:15,Zone K3,300,M,1972.0,33.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3,2005-01-23 23:15
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,600,M,1987.0,18.0,W,White,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,2005-01-24 20:32
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,500,M,1976.0,29.0,W,White,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,2005-02-09 03:05

In [2]:
ri.index.nunique()

36297

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [3]:
ri["violation"].nunique()

5

In [4]:
ri["violation"].value_counts()

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [5]:
ri.violation.value_counts(normalize = True)

Speeding               0.752156
Moving violation       0.135847
Equipment              0.062945
Registration/plates    0.030473
Other                  0.018579
Name: violation, dtype: float64

In [6]:
speeding_violation = ri["violation"].value_counts(normalize = True)[0]
speeding_violation

0.7521558008748177

In [7]:
moving_violation = ri["violation"].value_counts(normalize = True)[1]
moving_violation

0.13584669860445742

In [8]:
equipment_violation = ri["violation"].value_counts(normalize = True)[2]
equipment_violation

0.06294521974588628

In [9]:
registration_violation = ri["violation"].value_counts(normalize = True)[3]
registration_violation

0.030472818162882734

In [10]:
other_violation = ri["violation"].value_counts(normalize = True)[4]
other_violation

0.01857946261195584

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [11]:
ri_female = ri[ri["driver_gender"]=="F"]

In [12]:
ri_female.violation.value_counts(normalize=True)

Speeding               0.811180
Moving violation       0.099031
Equipment              0.045608
Registration/plates    0.027575
Other                  0.016605
Name: violation, dtype: float64

In [13]:
ri.groupby(["driver_gender"])["violation"].value_counts(normalize = True, dropna = False)

driver_gender  violation
F              Speeding               0.811180
               Moving violation       0.099031
               Equipment              0.045608
               Registration/plates    0.027575
               Other                  0.016605
M              Speeding               0.729518
               Moving violation       0.149967
               Equipment              0.069595
               Registration/plates    0.031584
               Other                  0.019337
Name: violation, dtype: float64

In [14]:
ri_male = ri[ri["driver_gender"]=="M"]

In [15]:
ri_male.violation.value_counts(normalize=True)

Speeding               0.729518
Moving violation       0.149967
Equipment              0.069595
Registration/plates    0.031584
Other                  0.019337
Name: violation, dtype: float64

In [16]:
ri_female["violation"].value_counts()

Speeding               10796
Moving violation        1318
Equipment                607
Registration/plates      367
Other                    221
Name: violation, dtype: int64

In [17]:
ri_male["violation"].value_counts()

Speeding               25315
Moving violation        5204
Equipment               2415
Registration/plates     1096
Other                    671
Name: violation, dtype: int64

In [18]:
female_speeding = ri_female.violation.value_counts(normalize=True)["Speeding"]
female_speeding

0.8111804042377339

In [19]:
female_moving = ri_female.violation.value_counts(normalize=True)["Moving violation"]
female_moving

0.09903073108422872

In [20]:
female_equipment = ri_female.violation.value_counts(normalize=True)["Equipment"]
female_equipment

0.045608235028927795

In [21]:
female_registration = ri_female.violation.value_counts(normalize=True)["Registration/plates"]
female_registration

0.027575324968066722

In [22]:
female_other = ri_female.violation.value_counts(normalize=True)["Other"]
female_other

0.016605304681042904

In [23]:
male_speeding = ri_male.violation.value_counts(normalize=True)["Speeding"]
male_speeding

0.7295178813290684

In [24]:
male_moving = ri_male.violation.value_counts(normalize=True)["Moving violation"]
male_moving

0.14996685974467594

In [25]:
male_equipment = ri_male.violation.value_counts(normalize=True)["Equipment"]
male_equipment

0.06959453618051353

In [26]:
male_registration = ri_male.violation.value_counts(normalize=True)["Registration/plates"]
male_registration

0.03158410420448978

In [27]:
male_other = ri_male.violation.value_counts(normalize=True)["Other"]
male_other

0.019336618541252414

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [28]:
female_and_speeding = ri_female[ri_female["violation"] == "Speeding"]

In [29]:
male_and_speeding = ri_male[ri_male.violation == "Speeding"]

In [30]:
female_and_speeding["stop_outcome"].value_counts(normalize = True, dropna=False)

Citation            0.973416
Warning             0.012968
Arrest Driver       0.007410
N/D                 0.003612
Arrest Passenger    0.002316
No Action           0.000278
Name: stop_outcome, dtype: float64

In [31]:
print(female_and_speeding.stop_outcome.value_counts(normalize = True, dropna = False))
print("---------------------------------------------")
print(male_and_speeding.stop_outcome.value_counts(normalize = True, dropna = False))

Citation            0.973416
Warning             0.012968
Arrest Driver       0.007410
N/D                 0.003612
Arrest Passenger    0.002316
No Action           0.000278
Name: stop_outcome, dtype: float64
---------------------------------------------
Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

In [32]:
ri.groupby(["violation", "driver_gender"])["stop_outcome"].value_counts(normalize = True)

violation            driver_gender  stop_outcome
Equipment            F              Citation            0.650741
                                    N/D                 0.205931
                                    Arrest Driver       0.065898
                                    Warning             0.046129
                                    Arrest Passenger    0.026359
                                    No Action           0.004942
                     M              Citation            0.682402
                                    N/D                 0.133333
                                    Arrest Driver       0.117184
                                    Warning             0.050104
                                    Arrest Passenger    0.014493
                                    No Action           0.002484
Moving violation     F              Citation            0.868741
                                    Arrest Driver       0.072838
                                    Warning             0.037178
                                    N/D                 0.010622
                                    Arrest Passenger    0.009863
                                    No Action           0.000759
                     M              Citation            0.824366
                                    Arrest Driver       0.116065
                                    Warning             0.040930
                                    N/D                 0.009992
                                    Arrest Passenger    0.008071
                                    No Action           0.000576
Other                F              Citation            0.497738
                                    No Action           0.280543
                                    Arrest Driver       0.217195
                                    Arrest Passenger    0.004525
                     M              Citation            0.529061
                                    Arrest Driver       0.281669
                                    No Action           0.165425
                                    Arrest Passenger    0.013413
                                    Warning             0.007452
                                    N/D                 0.002981
Registration/plates  F              Citation            0.749319
                                    Arrest Driver       0.177112
                                    Arrest Passenger    0.032698
                                    Warning             0.027248
                                    N/D                 0.010899
                                    No Action           0.002725
                     M              Citation            0.753650
                                    Arrest Driver       0.181569
                                    Warning             0.031934
                                    N/D                 0.017336
                                    Arrest Passenger    0.014599
                                    No Action           0.000912
Speeding             F              Citation            0.973416
                                    Warning             0.012968
                                    Arrest Driver       0.007410
                                    N/D                 0.003612
                                    Arrest Passenger    0.002316
                                    No Action           0.000278
                     M              Citation            0.957298
                                    Arrest Driver       0.026230
                                    Warning             0.010666
                                    N/D                 0.003397
                                    Arrest Passenger    0.002015
                                    No Action           0.000395
Name: stop_outcome, dtype: float64

In [33]:
female_citation = female_and_speeding["stop_outcome"].value_counts(normalize=True)["Citation"]
female_citation

0.9734160800296406

In [34]:
female_warning = female_and_speeding["stop_outcome"].value_counts(normalize=True)["Warning"]
female_warning

0.012967765839199704

In [35]:
female_arrest = female_and_speeding["stop_outcome"].value_counts(normalize=True)["Arrest Driver"]
female_arrest

0.007410151908114116

In [36]:
female_nd = female_and_speeding["stop_outcome"].value_counts(normalize=True)["N/D"]
female_nd

0.0036124490552056315

In [37]:
female_arr_pass = female_and_speeding["stop_outcome"].value_counts(normalize=True)["Arrest Passenger"]
female_arr_pass

0.0023156724712856615

In [38]:
female_no_action = female_and_speeding["stop_outcome"].value_counts(normalize=True)["No Action"]
female_no_action

0.00027788069655427936

In [39]:
male_and_speeding["stop_outcome"].value_counts(normalize = True, dropna = False)

Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

In [40]:
male_citation = male_and_speeding["stop_outcome"].value_counts(normalize=True)["Citation"]
male_citation

0.9572980446375666

In [41]:
male_warning = male_and_speeding["stop_outcome"].value_counts(normalize=True)["Warning"]
male_warning

0.010665613272763184

In [42]:
male_arrest = male_and_speeding["stop_outcome"].value_counts(normalize=True)["Arrest Driver"]
male_arrest

0.02622950819672131

In [43]:
male_nd = male_and_speeding["stop_outcome"].value_counts(normalize=True)["N/D"]
male_nd

0.003397195338731977

In [44]:
male_arr_pass = male_and_speeding["stop_outcome"].value_counts(normalize=True)["Arrest Passenger"]
male_arr_pass

0.002014615840410824

In [45]:
male_no_action = male_and_speeding["stop_outcome"].value_counts(normalize=True)["No Action"]
male_no_action

0.00039502271380604387

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [46]:
ri.search_conducted.dtype

dtype('bool')

In [47]:
ri["search_conducted"].value_counts(normalize = True)

False    0.958092
True     0.041908
Name: search_conducted, dtype: float64

In [48]:
search_conducted_true = ri.search_conducted.value_counts(normalize = True)[True]
search_conducted_true

0.04190793584669861

In [49]:
search_conducted_false = ri.search_conducted.value_counts(normalize = True)[False]
search_conducted_false

0.9580920641533014

In [50]:
ri["search_conducted"].mean()

0.04190793584669861

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [51]:
ri_female.search_conducted.mean()

0.017807498685100308

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [52]:
ri_male.search_conducted.mean()

0.05115126365234431

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [53]:
ri.groupby('driver_gender')["search_conducted"].mean()

driver_gender
F    0.017807
M    0.051151
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [54]:
ri.groupby(['driver_gender', 'violation'])["search_conducted"].mean()

driver_gender  violation
F              Equipment              0.079077
               Moving violation       0.047800
               Other                  0.045249
               Registration/plates    0.114441
               Speeding               0.006854
M              Equipment              0.123395
               Moving violation       0.088778
               Other                  0.154993
               Registration/plates    0.171533
               Speeding               0.028560
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [55]:
ri.groupby(['violation', 'driver_gender'])["search_conducted"].mean()

violation            driver_gender
Equipment            F                0.079077
                     M                0.123395
Moving violation     F                0.047800
                     M                0.088778
Other                F                0.045249
                     M                0.154993
Registration/plates  F                0.114441
                     M                0.171533
Speeding             F                0.006854
                     M                0.028560
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [56]:
ri["search_type"].value_counts()

Incident to Arrest                                          958
Probable Cause                                              244
Protective Frisk                                            204
Inventory                                                   117
Incident to Arrest,Inventory                                116
Incident to Arrest,Probable Cause                            76
Incident to Arrest,Protective Frisk                          63
Reasonable Suspicion                                         43
Probable Cause,Protective Frisk                              36
Incident to Arrest,Inventory,Protective Frisk                33
Inventory,Protective Frisk                                   23
Incident to Arrest,Probable Cause,Protective Frisk           20
Incident to Arrest,Inventory,Probable Cause                  19
Protective Frisk,Reasonable Suspicion                        16
Inventory,Probable Cause                                     16
Probable Cause,Reasonable Suspicion                          12
Probable Cause,Protective Frisk,Reasonable Suspicion          5
Incident to Arrest,Reasonable Suspicion                       5
Inventory,Probable Cause,Protective Frisk                     2
Incident to Arrest,Probable Cause,Reasonable Suspicion        1
Inventory,Reasonable Suspicion                                1
Incident to Arrest,Protective Frisk,Reasonable Suspicion      1
Incident to Arrest,Inventory,Reasonable Suspicion             1
Name: search_type, dtype: int64

In [57]:
ri.combined.nunique()

36297

In [58]:
ri["search_type"] = ri["search_type"].astype("str")

In [59]:
ri["search_type"].replace("nan", np.nan, inplace = True)

In [60]:
ri["frisk"] = ri["search_type"].str.contains("Protective Frisk", na = False)

In [69]:
ri.frisk.dtype

dtype('bool')

In [70]:
ri.frisk.sum()

403

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [80]:
searched = ri[ri.search_conducted]

In [81]:
searched["frisk"].mean()

0.20029821073558648

In [82]:
searched.groupby('driver_gender')["frisk"].mean()

driver_gender
F    0.164557
M    0.205070
Name: frisk, dtype: float64

In [83]:
searched.groupby('driver_gender').frisk.value_counts(normalize = True)

driver_gender  frisk
F              False    0.835443
               True     0.164557
M              False    0.794930
               True     0.205070
Name: frisk, dtype: float64

In [64]:
ri.isnull().sum()/len(ri)*100

id                     0.000000
stop_date              0.000000
stop_time              0.000000
location_raw           0.000000
police_department      0.000000
driver_gender          0.000000
driver_age_raw         0.000000
driver_age             0.483233
driver_race_raw        0.000000
driver_race            0.000000
violation_raw          0.000000
violation              0.000000
search_conducted       0.000000
search_type_raw       95.809206
search_type           95.809206
contraband_found       0.000000
stop_outcome           0.000000
is_arrested            0.000000
stop_duration          0.000000
out_of_state           0.447823
drugs_related_stop     0.000000
district               0.000000
combined               0.000000
frisk                  0.000000
dtype: float64

In [65]:
ri.driver_race_raw.isnull().any()

False

In [66]:
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55,False
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30,False
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55,False
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30,False
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,0,M,1973.0,32.0,B,Black,...,NaN,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05,False

In [67]:
ri.loc[:,"stop_date":'driver_gender']

,stop_date,stop_time,location_raw,police_department,driver_gender
stop_datetime,,,,,
2005-01-02 01:55:00,2005-01-02,01:55,Zone K1,600,M
2005-01-02 20:30:00,2005-01-02,20:30,Zone X4,500,M
2005-01-04 12:55:00,2005-01-04,12:55,Zone X4,500,M
2005-01-06 01:30:00,2005-01-06,01:30,Zone X4,500,M
2005-01-12 08:05:00,2005-01-12,08:05,Zone X1,0,M
...,...,...,...,...,...
2006-08-08 22:45:00,2006-08-08,22:45,Zone K3,300,M
2006-08-08 22:45:00,2006-08-08,22:45,Zone K3,300,F
2006-08-08 22:53:00,2006-08-08,22:53,Zone X4,500,M
2006-08-08 23:00:00,2006-08-08,23:00,Zone K1,600,F
2006-08-08 23:00:00,2006-08-08,23:00,Zone K3,300,M